.main-section{
margin-bottom: clamp(100px, 15.409vw, 196px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(59px, 5.503vw, 70px);
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: 48px;

        @include mobile{
            grid-gap: 50px;
        }
    }
}