<footer>
  <div class="container">

    <div class="footer">
      
      
          <a href="#" class="footer__logo">
            <svg width='82' height='82'>
              <use href='img/sprite/sprite.svg#logo-f'></use>
            </svg>
          </a>

          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">FAQ</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">RETURNS</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">CONTACT</a>
            </li>
          </ul>

          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">TERMS & CONDITIONS</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">PRIVACY POLICY</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">COOKIE POLICY</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">COOKIE SETTINGS</a>
            </li>
          </ul>

          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">ABOUT SECOND CHANCE</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">CAREER</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">FACEBOOK</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">INSTAGRAM</a>
            </li>
          </ul>
     
     
    </div>
    
  </div>
</footer>
