<footer>
  <div class="container">

    <div class="footer grid grid-cols-4 gap-6">
      
      
          <a href="#" class="footer__logo p-2 justify-self-center">
            <svg width='82' height='82'>
              <use href='img/sprite/sprite.svg#logo-f'></use>
            </svg>
          </a>

          <ul class="nav-list flex flex-col gap-5">
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">FAQ</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">RETURNS</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">CONTACT</a>
            </li>
          </ul>

          <ul class="nav-list flex flex-col gap-5">
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">TERMS & CONDITIONS</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">PRIVACY POLICY</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">COOKIE POLICY</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">COOKIE SETTINGS</a>
            </li>
          </ul>

          <ul class="nav-list flex flex-col gap-5">
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">ABOUT SECOND CHANCE</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">CAREER</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">FACEBOOK</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="text-sm font-bold text-[#1e1e1e] not-italic">INSTAGRAM</a>
            </li>
          </ul>
     
     
    </div>
    
  </div>
</footer>
