<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <link rel="shortcut icon" href="img/sprite/fav.svg" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NFS</title>

    <link rel="preload" href="fonts/SpaceGrotesk-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/SpaceGrotesk-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/SpaceGrotesk-Bold.woff" as="font" crossorigin="anonymous">

    <link rel="preload" href="fonts/Inter-Light.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Inter-Bold.woff" as="font" crossorigin="anonymous">

    <link rel="preload" href="fonts/SpaceMono-Bold.woff" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>
