<div class="overlay" data-overlay>

  <div class="modal" data-popup="callback">
    <div class="modal__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='18' height='18'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

        <h2 class="modal__title">
          Зворотній зв’язок
        </h2>
        <form action="#" class="modal-form">
          <label for="user" class="modal-form__label">
            <input type="text" class="modal-form__input" id="user" placeholder="Ваше ім’я">
          </label>
          <label for="phone" class="modal-form__label">
            <input type="number" class="modal-form__input" id="phone" placeholder="Номер телефону">
          </label>

          <div class="modal-form__bottom">
            <button type="submit" class="main-button">Відправити</button>
            <p>Натискаючи кнопку Відправити, я даю згоду 
              на обрабку персональних даних</p>
          </div>
        </form>
    </div>
  </div>

</div>