.main-card{

    min-height: 402px;

    &__top{
        min-height: 300px;
    }

    &__title{
        font-family: var(--font-family);
    }

    &__price{
        font-family: var(--font-family);
    }

    &__name{
        font-family: var(--font-family);
    }
}