.sign-button{
  color: rgba(var(--cl-a),1.0);
  font-family: var(--font-family);
  font-size: clamp(16px, 1.504vw, 20px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--bg-b),1.0);
  transition: all .4s;

  &:hover{
    background: rgba(var(--bg-g),1.0);
  }
}


.main-button{
  border-radius: 4px;
  background: rgba(var(--bg-b),1.0);
  display: flex;
  padding: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: rgba(var(--cl-a),1.0);
  text-align: center; 
  leading-trim: both;
  text-edge: cap;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}